@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main {
    @apply flex flex-col h-screen min-h-screen z-0;
  }
}
*{
  margin: 0;
  padding: 0;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #000;
  background: #FFFFFF;
}